@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@300;400;500;600;700&family=Mochiy+Pop+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+2:wght@300;400;500;600;700&family=Livvic:wght@300;400;500;600;700&display=swap');

:root {
  --primary-font: 'M PLUS 2', sans-serif;
  --heading-font: 'Mitr', sans-serif;
  --primary-color: #357abd;
  --accent-color: #4a90e2;
  --accent-hover: #357abd;
  --side-padding: 12vw;
}

* {
  font-family: var(--primary-font);
  box-sizing: border-box;
}

body {
  font-family: var(--primary-font);
  background: #f9f9f9;
  color: #333;
  margin: 0;
  padding: 0;
}

.main-wrapper,
.hero-wrapper {
  padding: 6vmin var(--side-padding);
}

.container {
  gap: 8px;
  display: flex;
  flex-direction: column;

  max-width: 800px;
  margin: 0px auto;
  padding: 20px;
  background: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

h1, h2, h3, p {
  margin: 0; padding: 0;
  color: #333;
}

h2 {
  font-size: 1.2rem;
  margin: 20px 0 10px;
}

label {
  text-align: center;
}

p {
  text-align: center;
  margin-bottom: 15px;
  font-size: 1rem;
  color: #555;
}

label {
  font-weight: bold;
  display: block;
  margin: 10px 0 5px;
  font-size: 0.9rem;
}

input,
textarea,
select,
button {
  padding: 10px;
  margin: 5px 0 15px;
  font-size: 0.9rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

textarea {
  height: 250px;
  resize: vertical;
}

button {
  background: var(--accent-color);
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

button:active {
  transform: translateY(1px);
}

audio {
  display: block;
  width: 100%;
  margin-top: 10px;
}

#generatedText {
  height: 300px;
  margin-bottom: 20px;
}

.pdf-dropzone {
  width: 100%;
  height: 30vh;
  border: 2px dashed #ccc;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f9f9f9;
  transition: height 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
  position: relative;
}

.pdf-dropzone.file-added {
  height: 64px;
  background-color: #e8f5e9;
  border-color: #4caf50;
}

.pdf-dropzone input[type="file"] {
  cursor: pointer;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.dropzone-label {
  font-size: 16px;
  color: #666;
  pointer-events: none;
}

.file-name {
  margin-top: 10px;
  font-size: 14px;
  text-align: center;
  display: none;
  transition: opacity 0.5s ease;
}

.file-name.visible {
  display: block;
  opacity: 1;
}


#convertButton {
  background: linear-gradient(45deg, #6a11cb, #2575fc);
  color: #fff;
  padding: 16px 24px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
}

#convertButton:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  transform: translateY(-2px);
}

#convertButton:active {
  transform: translateY(0);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

.output-wrapper {
  display: none;
}

/* Responsive Design */
@media (max-width: 768px) {
  .container {
    padding: 15px;
  }

  h1 {
    font-size: 1.8rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  .speaker-group {
    flex-direction: column;
    gap: 15px;
  }

  .speaker-wrapper {
    flex-direction: column;
    gap: 15px;
  }
}


.main-icon {
  position: absolute;
  border-radius: 50%;
  box-sizing: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.2vmin;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
  width: 3vmin;
  height: 3vmin;
}
.main-icon img {
  width: 100%;
  height: 100%;
  z-index: 1;
}


.loading-spinner {
  display: flex;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 9999;
  color: #fff;
  font-family: Arial, sans-serif;
  font-size: 18px;
  text-align: center;
}

.spinner {
  border: 6px solid rgba(255, 255, 255, 0.3);
  border-top: 6px solid #fff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  margin-bottom: 10px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.main-cta, .sub-cta {
  font-family: var(--primary-font);
  font-weight: 700;
  border: 2px solid #333;
  padding: 12px 24px;
  border-radius: 12px;
}

.main-cta {
  background: #333;
}
.sub-cta {
  color: #333;
  background: none;
}